@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('@/fonts/iconfont.eot');
	src: url('@/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('@/fonts/iconfont.woff2') format('woff2'),
		url('@/fonts/iconfont.woff') format('woff'),
		url('@/fonts/iconfont.ttf') format('truetype'),
		url('@/fonts/iconfont.svg#iconfont') format('svg');
}

.uni-icon {
	font-family: uniicons;
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.uni-icon.uni-active {
	color: #007aff;
}

.uni-icon-earth:before {
	content: '&#xe689;';
}
